%gallery-arrows {
    height: 56px;
    width: 56px;
    border-radius: 50%;
    cursor: pointer;
}

.gallery {
    padding-bottom: 70px;
    max-width: 1110px;
    margin: auto;

    &__title {
        margin-bottom: 55px;
    }

    &__head {
        display: flex;
        justify-content: space-between;
    }

    &__navigation {
        display: flex;
        gap: 20px;
    }

    &__navigation-prev {
        @extend %gallery-arrows;
        background: #F0F0F0 url('img/galleryArrow.svg') center no-repeat;
    }

    &__navigation-next {
        @extend %gallery-arrows;
        background: #F0F0F0 url('img/galleryArrow.svg') center no-repeat;
        transform: rotate(180deg);
    }

    .swiper {
        width: 100%;
        height: 868px;

        &-slide {
            width: 100%;
            height: 834px;
        }

        &-pagination {
            width: 100%;
            display: flex;
            gap: 10px;
            bottom: 0;

            &-bullet {
                width: 20%;
                height: 6px;
                margin: 0 !important;
                padding: 0;
                opacity: 1;
                border-radius: 0;
                background: #E5E5E5;

                &-active {
                    background: #A30C33;
                }
            }
        }
    }
}


@media screen and (max-width: 1140px) {
    .gallery {
    
        .swiper {
            width: 100%;
            height: auto;
    
            &-slide {
                width: 100%;
                height: auto;

                img {
                    width: 100%;
                    height: auto;
                }
            }
    
            &-pagination {
                position: static;
                margin-top: 20px;
            }
        }
    }
}


@media screen and (max-width: 800px) {
    .gallery {
        padding: 0px 5px 49px 5px;
        margin: auto;
    
        &__title {
            margin-bottom: 15px;
        }
    
        &__navigation {
            display: none;
        }
    
        .swiper {
            width: 100%;
            height: auto;
    
            &-slide {
                width: 100%;
                height: auto;
            }
    
            &-pagination {
                display: none;
            }
        }
    }
}