* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    box-sizing: border-box;
    font-family: 'Proxima Nova Condensed';
    color: #444444;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1250px;
    margin: 0 auto;
}

.title-2 {
    font-size: 56px;
    line-height: 56px;
}

@media screen and (max-width: 800px) {
    .title-2 {
        font-size: 28px;
        line-height: 28px;
    }
}


@media screen and (max-width: 1280px) {
    .container {
        margin: 0px 15px 0px 15px;
    }
}